.git
.gitignore

__pycache__/
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/

Dockerfile
compose*.yaml
docker-compose*.yml
.dockerignore

.env
.env.*
!.env.example

logs/

.vscode/
.idea/
.DS_Store

# CI
.github/

README.md
!CHANGELOG.md